[access "refs/*"]
	owner = group user::bbossola
	owner = group user::lmilanesio
	read = group gitentdevelopment:GerritForge
	read = group user::bbossola
	read = group user::gitent
	read = group user::lmilanesio
	create = group gitentdevelopment:GerritForge
	create = group user::bbossola
	create = group user::lmilanesio
	forgeAuthor = group user::bbossola
	forgeAuthor = group user::lmilanesio
	forgeCommitter = group user::bbossola
	forgeCommitter = group user::lmilanesio
	push = +force group gitentdevelopment:GerritForge
	push = +force group user::bbossola
	push = +force group user::lmilanesio
	pushMerge = group gitentdevelopment:GerritForge
	pushMerge = group user::bbossola
	pushMerge = group user::lmilanesio
	pushTag = group gitentdevelopment:GerritForge
	pushTag = group user::bbossola
	pushTag = group user::lmilanesio
	label-Code-Review = -2..+2 group gitentdevelopment:GerritForge
	label-Code-Review = -2..+2 group user::bbossola
	label-Code-Review = -2..+2 group user::lmilanesio
	label-Code-Review = -1..+1 group user::gitent
	label-Verified = -1..+1 group gitentdevelopment:GerritForge
	label-Verified = -1..+1 group user::bbossola
	label-Verified = -1..+1 group user::lmilanesio
	submit = group gitentdevelopment:GerritForge
	submit = group user::bbossola
	submit = group user::lmilanesio
[project]
	description = Gerrit plug-in to display network of Git Branches in a HTML5 Canvas
